# Ignore database and the Laravel project folders for new projects  
db/
app/

# Ignore all environment files
*.env

# Ignore system files
.DS_Store
Thumbs.db
*.swp

# Ignore IDE/editor configs
.idea/
.vscode/
*.iml