#GENERAL
UID=1000
APP_PORT=8080
DB_DATABASE=laravel_db
DB_USERNAME=laravel_user
DB_PASSWORD=laravel_password

#MYSQL
MYSQL_PORT=3306
MYSQL_ROOT_PASSWORD=password
TZ=America/New_York

# PHPMYADMIN
PHPMYADMIN_PORT=8081